{% extends 'base.html' %}
{% load static %}
{% block content %}


<html lang="en">
	<head>
		 
		<title>About me</title>

	</head>

	<body style="background-color: #E1B0A2;">




    <!--Section 2: About me-->
    <section id="about">

    	
    	
    	<div class="container-fluid ">

	   		<div class="row pagePadding" style="height: 200px;  ">

	   			
	   		
				<h3 class="pageTitle" style="color:#FFFBFB; "> about me</h3>
				
				
		
			</div>
			<!-- <img class="svg img-fluid" src="flower.svg" style="right: 0%"> -->

			<div class="row pagePadding" style="height: 400px;">

				<h4 class="text">Currently, I am in my third semester  majoring 
					computer science in Universitas Indonesia. 
					Being a web designer is one of 
					my future goal since 10th grade, 
					but now I also interested in data science.
					I still finding my passion and what kind of job 
					i really want after I achieve my bachelor degree. 

					<br><br>Beside academic interest, 
					I have hobbies that have nothing to do with my studies, 
					that is taking photos and sometimes read fiction book.
				</h4>
						
			


				<!-- <div class="col-sm-4" style="color: #FFFBFB;">
					
				</div> -->
				
			</div>
		</div>
		

		

	
		
	</section>
	
	</body>

</html>

{% endblock %}
