{% extends 'base.html' %}
{% load static %}
{% block content %}


<html lang="en">
	<head>
		
		<title>My Events</title>

		

	</head>

	<body style="background-color: #EDCFC4;">

		<div class="container-fluid" style="padding-top: 20px;">

			<h2 class="pageTitle" style=" text-align: center">my events</h2>

		</div>

		<div class="container-fluid" style="padding-top: 40px;">
			
			<table class="table">
			    <thead>
			    	<th>Category</th>
			        <th>Name</th>
			        <th>Date/Time</th>
			        <th>Location</th>
			        <th>Notes</th>
			        <th></th>
			    </thead>
			    <tbody>
			        
			        {% for event in allevents %}
			  
			        <tr class="success">
			        	<td> {{event.category}} </td>
			            <td> {{event.event_name}} </td>
			            <td> {{event.date_time}} </td>
			            <td> {{event.location}} </td>
			            <td> {{event.notes}} </td>

			            <td><a href="{% url 'my_profile:delete_event' pk=event.pk %}" ><button type="button" class="btn btn-icon btn-danger">Delete</button></a></td>

			        </tr>             
			        {% endfor %}
			    </tbody>
			</table>

			<a href="{% url 'my_profile:add_event' %}" class="btn btn-secondary" role="button">Add new event</a>

			<form method="POST" action="{% url 'my_profile:delete_all' %}">
	            {% csrf_token %}
	            <button type="submit" class="btn btn-icon btn-danger">Delete All</button>
	        </form>
				
			
		</div>
	


	
	
	</body>

</html>
{% endblock%}

