{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <!--Links for styles and font-->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/story3.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">

      <!-- <link rel="stylesheet" href="{%static 'css/style.css' %}">   -->
    <link href="https://fonts.googleapis.com/css?family=Arizonia|Cardo&display=swap" rel="stylesheet"> 
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
    
    <!-- Tempus Dominus Bootstrap 4 -->
    <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   

  </head>
  
  <body>
    {% include "header.html" %}
    {% block content %}{% endblock %}

  </body>
</html>
