{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="en">
	<head>
		
		<title>Let's Connect!</title>

		
	</head>

	<body style="background-color: #7A716F;">

		
	<!--Section 4: Connect-->

	<section id="connect">

		
		<div class="container-fluid">

			<div class="row pagePadding" style="padding-top: 160px; padding-bottom: 250px; ">
				
	   				
				<div class="col-sm-6" style="position: relative; height: 200px; ">
					
					<h3 class="pageTitle" >let's connect!</h3>
					
					
				</div>

				<div class="col-sm-6">
					
					<p><a href="mailto:yasminadelia11@gmail.com?subject=Hello%20Yasmin" target="_blank">
						<img class="img-fluid" alt="icon" style="vertical-align:middle" src="{% static 'images/mail.png' %}" > 
						<span style="">yasminadelia11@gmail.com</span></a></p>
					

					<p><a href="https://id.linkedin.com/in/yasmin-adelia-92b641177" target="_blank">
						<img  class="img-fluid" alt="icon" style="vertical-align:middle" src="{% static 'images/linkedin.png' %}">
						<span style="">Yasmin Adelia</span></a></p>

				
					<p><a href="https://www.instagram.com/yasminadelia/" target="_blank">
						<img class="img-fluid" alt="icon" style="vertical-align:middle" src="{% static 'images/ig.png' %}">
						<span style="">yasminadelia</span></a></p>
						
				</div>
			</div>
		</div>
		
			
	</section>
	
	</body>

</html>

{% endblock %}
