{% extends 'base.html' %}
{% load static %}
{% block content %}


<html lang="en">
	<head>
		
		<title>Gallery</title>


		<style>
		  /* Make the image fully responsive */
	  	.carousel-inner img {
	    	width: 50%;
	      	height: 50%;
		}
  		</style>
	</head>

	<body style="background-color: #EDCFC4;">

	<!-- Section 5: Gallery -->

	<section id="gallery">

		<div class="container-fluid" >
							
					
				<h2 class="pageTitle" style=" text-align: center">gallery</h2>
					
				
			
				<div  class="row" >
					
					<div id="carTarget" class="carousel slide" data-ride="carousel">

					  <!-- Indicators -->
					  <ul class="carousel-indicators">
					    <li data-target="#carTarget" data-slide-to="0" class="active"></li>
					    <li data-target="#carTarget" data-slide-to="1"></li>
					    <li data-target="#carTarget" data-slide-to="2"></li>
					    <li data-target="#carTarget" data-slide-to="3"></li>
					    <li data-target="#carTarget" data-slide-to="4"></li>
					    <li data-target="#carTarget" data-slide-to="5"></li>
					  </ul>

					  <!-- The slideshow -->
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					      <center><img src="{% static 'images/1.jpg' %}" class="imageGallery" alt="Medan"></center>
					    </div>
					    <div class="carousel-item">
					       <center><img src="{% static 'images/9.jpg' %}" class="imageGallery" alt="Jakarta"></center>
					    </div>
					    <div class="carousel-item">
					       <center><img src="{% static 'images/7.jpg' %}" class="imageGallery"  alt="Jakarta"></center>
					    </div>
					    <div class="carousel-item">
					       <center><img src="{% static 'images/5.jpg' %}" class="imageGallery" alt="Jakarta"></center>
					    </div>
					    <div class="carousel-item">
					       <center><img src="{% static 'images/6.jpg' %}" class="imageGallery" alt="Jakarta"></center>
					    </div>
					    <div class="carousel-item">
					       <center><img src="{% static 'images/8.jpg' %}" class="imageGallery" alt="Jakarta"></center>
					    </div>
					  </div>

					  <!-- Left and right controls -->
					  <a class="carousel-control-prev" href="#carTarget" data-slide="prev">
					    <span class="carousel-control-prev-icon"></span>
					  </a>
					  <a class="carousel-control-next" href="#carTarget" data-slide="next">
					    <span class="carousel-control-next-icon"></span>
					  </a>
					</div>
					
				</div>
			
		</div>
	
		
	</section>

	
	
	</body>

</html>

{% endblock %}
