{% load static %}
<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href=""><img alt=logo src="{% static 'images/logo.svg' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'my_profile:home' %}"><img src="{% static 'images/home.svg' %}" width="80px"> <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'my_profile:about' %}"><img src="{% static 'images/about.svg' %}" width="80px"></a>
      <a class="nav-item nav-link" href="{% url 'my_profile:resume' %}"><img src="{% static 'images/resume.svg' %}" width="80px"></a>
      <a class="nav-item nav-link" href="{% url 'my_profile:all_event' %}"><img src="{% static 'images/event.svg' %}" width="80px"></a>
      <a class="nav-item nav-link" href="{% url 'my_profile:connect' %}"><img src="{% static 'images/connect.svg' %}" width="80px"></a>
      <a class="nav-item nav-link" href="{% url 'my_profile:gallery' %}"><img src="{% static 'images/gallery.svg' %}" width="80px"></a>

      
      
    </div>
  </div>
</nav>


