{% extends 'base.html' %}
{% load static %}
{% block content %}


	<head>
		 
		<title>Yasmin's profile</title>

		<!--Links for styles and font-->

	</head>

	<body style="background-color: #EDCFC4;">
	
	<section id="home">
    	<img class="img-fluid" src="{% static 'images/daun1.svg' %}">
    
   		<div class="container-fluid" style="position:absolute; top:30%">
   			<div class="row">
   				
				<div class="col-sm-12" style="text-align: center;">
					<h4> Hello I'm</h4>
				</div>
							
			</div>

			<div class="row" >
				
				<div class="col-sm-12" style="text-align: center;">
					<h1 class="pageTitle" style="font-family: Arizonia, cursive; color: #000000; text-shadow: 10px 20px 15px rgba(0, 0, 0, 0.25);">Yasmin</h1>
				</div>
			</div>
				

			<div class="row">
   				
				<div class="col-sm-12" style="text-align: center;">
					<h4>I'm a computer <br>science student.</h4>
				</div>

			</div>
		</div>
			
	
	</section>
    

   </body>



{% endblock %}
