{% extends 'base.html' %}
{% load static %}
{% block content %}


<html lang="en">
	<head>
		
		<title>My Resume</title>

		
	</head>

	<body style="background-color: #BCCEB8;">
	

	<!--Section 3: Resume-->
	<section id="resume">

		<img class="svg img-fluid" src="{% static 'images/daun2.svg' %}" style="left: 0px" >

		<div class="container-fluid" >

	   			<div class="row" >
	   				

					<div class="col-sm-12">
						<h3 class="pageTitle" style="text-align: center;">resume </h3>
					</div>
								
				</div>
			
			
				<div class="row pagePadding">

					<div class="col-sm-4" style="height: 300px;">
						
							<!-- style="float: center;" -->
							<img alt="Profile photo" class="photo img-fluid" src="https://live.staticflickr.com/65535/48698361713_e260db12c4_m.jpg">
											
					</div>

					<div class="col-sm-4" style="height: 500px;">
						
						
						<strong>Name</strong><br>Yasmin Adelia Puti Chaidir
						<br><br>
						<strong>Born</strong><br>11 November 2000
						<br><br>
						<strong>Education</strong>
						<ul>
						  <li>Universitas Indonesia   (2018-now)</li>
						  <li>SMAN 26 Jakarta         (2015-2018)</li>
						  <li>SMPI Al-Azhar 19        (2012-2015)</li>
						</ul> 
						
					</div>

					

					<div class="col-sm-4" style="height: 300px;">
						<strong>Skill</strong>
						<ul>
							<li>Java</li>
							<li>Python</li>
							<li>Power BI</li>
							<li>Photography</li>
						</ul>
						
						<strong>Experience</strong>
						<ul>
						  <li>FUKI 2019 : Staff of Muslimah Center</li>
						  <li>Wisgen 2019 : Staff of Documentation</li>
						  <li>She Loves Data: Participant of Data Visualization Workshop</li>
						  <li>CGT 2019 : Staff of Documentation</li>
						</ul> 

							
					</div>
				</div>
		</div>
		
		
			
		
	</section>

	
	</body>

</html>

{% endblock %}
