body{
	font-family: "Cardo", normal;
	font-size: 23px;
}

#home{
	background-color: #EDCFC4;
	opacity: 1;
	/*height: 100vh;*/
}

#about{
	background-color: #E1B0A2;
	opacity: 1;
	border-top-style: dashed;
	border-width: 30px;
	border-color:  #7A716F;
}

#resume{
	background-color: #BCCEB8;
	opacity: 1;
	border-top-style: dashed;
	border-width: 30px;
	border-color: #7A716F;
	/*height: 100vh;*/

	
}

#connect{
	background-color: #7A716F;
	opacity: 1;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-width: 30px;
	border-color: #EDCFC4;
	/*height: 100vh;*/

}

#gallery{
	background-color: #EDCFC4;
	opacity: 1;
	border-top-style: dashed;
	/*border-bottom-style: dashed;*/
	border-width: 30px;
	border-color: #7A716F;
	/*height: 100vh;*/
	
}


.photo{
	border-radius: 50%;
	filter: grayscale(100%);
	background: #C4C4C4;
	border: 10px solid #746B69;
	display: block;

	/*margin-left: auto;
	margin-right: auto;*/
		
}

.pageTitle{
	
	/*position: relative;*/
	/*height: 100px;*/
	font-family: Arizonia, cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 15vw;
	/*line-height: 180px;*/
	color: white;
	text-shadow: 10px 20px 15px rgba(0, 0, 0, 0.25);
}

/*.container{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}*/

.pagePadding{
	
	padding-right: 50px; 
	
	padding-left: 50px;
}

.svg{
	position: absolute;
}

.imageGallery{
	width: 600px;
	border: 20px solid #746B69;
	
}

.text{
	width: 500px;
	height: 500px;
	line-height: 35px;
	}


/* unvisited link */
a:link{
	
	color: white;
}

/* visited link */
a:visited{
	
	color: white;
}

/* mouse over link, active link */
a:hover, a:active{
	
	color: #BCCEB8;
	/*background-color: #EDCFC4;*/
	text-decoration: none;
}


